In [18]:
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import odbc
import pandas as pd
connect=odbc.odbc('tv')
db=connect.cursor()
db.execute("SELECT mtc.master_id,mtc.tvrating_id,mtc.delivery,mtc.min_broad_date,tr.date,tr.rating FROM tv.master_table_cleansing as mtc, tv.tv_rating as tr where tr.drama_id = mtc.tvrating_id and tr.date>=mtc.min_broad_date and tr.area='nationwide' order by 1;")
table = db.fetchall()

In [19]:
isPass=False
nowDrama=table[0][0]
ratingTable=[]
temp=[]
for x in range(len(table)):
    if(isPass):
        isPass=False;
        continue
    if(x==len(table)-1):
        break
    if(table[x][0]==table[x+1][0]):
        temp=[table[x][0],table[x][5],table[x+1][5]]
        isPass=True
    else:
        temp=[table[x][0],table[x][5],table[x][5]]
    ratingTable.append(temp)

In [20]:
df=pd.DataFrame(ratingTable)
print(df)

        0       1       2
0       1   7.600   7.200
1       1   8.100   8.700
2       1   7.200   7.800
3       1   8.000   7.800
4       1   8.000   7.100
5       1   7.400   7.800
6       5  11.700  10.300
7       5  12.300  10.500
8       5  10.500  10.600
9       5  10.700  11.500
10      5  10.400  11.400
11      5  10.600  12.500
12      5  10.000  10.000
13      6  17.200  18.400
14      6  18.400  13.800
15      6  17.100  15.500
16      6  16.800  16.100
17      6   7.200  16.700
18      6   7.800  12.800
19      6  17.100  17.600
20      6  17.200  18.400
21      7  22.200  17.300
22      7  25.400  21.400
23      7  25.600  22.900
24      7  18.700  14.500
25      7  23.300  23.700
26      7  18.600  14.500
27      7  24.900  18.600
28      7  22.200  20.900
29      7  14.900  14.900
...   ...     ...     ...
1010  171  18.900  18.900
1011  171  22.300  26.400
1012  171  19.200  19.200
1013  171  19.000  28.300
1014  171  21.900  22.000
1015  171  28.900  16.500
1016  171  16.500  20.600
1017  171  22.500  14.600
1018  171  19.600  19.600
1019  171  21.200  22.200
1020  171  23.600  24.200
1021  171  22.200  16.600
1022  171  16.600  19.700
1023  171  22.300  13.100
1024  171  19.200  19.200
1025  171  21.200  21.700
1026  171  13.300  16.500
1027  171  16.500  18.100
1028  171  21.400  22.900
1029  171  24.900  26.400
1030  171  18.500  18.500
1031  171  19.800  19.800
1032  178   3.317   4.559
1033  178   3.418   3.844
1034  178   3.104   3.493
1035  178   3.671   4.559
1036  178   4.062   3.928
1037  178   2.574   3.190
1038  178   5.372   3.890
1039  178   4.196   3.188

[1040 rows x 3 columns]

In [23]:
writer = pd.ExcelWriter('drama_data.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()

In [ ]:
# test set ver

In [1]:
import time
import odbc
import pandas as pd
connect=odbc.odbc('tv')
db=connect.cursor()
db.execute("SELECT \
    mtc.master_id,\
    mtc.drama_id,\
    mtc.naver_id,\
    mtc.delivery,\
    mtc.min_date,\
    tr.date,\
    tr.rating \
FROM \
    tv.master_table_cleansing AS mtc,\
    tv.tv_rating AS tr \
WHERE \
    tr.drama_id = mtc.drama_id \
        AND tr.date >= mtc.min_date \
        AND tr.area = 'capital' \
ORDER BY 1;")
table = db.fetchall()

In [5]:
isPass=False
nowDrama=table[0][0]
ratingTable=[]
temp=[]
for x in range(len(table)):
    if(isPass):
        isPass=False;
        continue
    if(x==len(table)-1):
        break
    if(table[x][0]==table[x+1][0]):
        temp=[table[x][0],table[x][6],table[x+1][6]]
        isPass=True
    else:
        temp=[table[x][0],table[x][6],table[x][6]]
    ratingTable.append(temp)

In [6]:
df=pd.DataFrame(ratingTable)
df.tail()

        0      1      2
2268  158  3.056  3.673
2269  158  6.452  4.928
2270  158  4.811  3.695
2271  158  3.834  3.482
2272  158  5.085  4.187

In [7]:
writer = pd.ExcelWriter('test_rating_data.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()